/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1, h2, p {
    font-family: 'Raleway', sans-serif;
}
:root {
    /* for navbar & contact border-bottom */
    --nav_background_color: rgb(190,49,68);
    --projects_background: rgb(69,86,125);
    /* for projects label & contact background & footer */
    --projects_label_background: rgb(48,56,65); 
    --welcome_background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    --font_color: rgb(240,240,240);
}


/* Self Styles */
/* --- --- START of Navbar --- --- */

#navbar {
    background-color: var(--nav_background_color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border-bottom: 2px solid rgba(7, 8, 8, 0.521);
    z-index: 1;
}
#navbar ul {
    display: flex;
    justify-content: flex-end;
    width: 96vw;
}
@media screen and (max-width: 700px) {
    #navbar ul {
        justify-content: space-around;
    }
}
#navbar ul li {
    padding: 1.1rem 2.2rem;
    transition: all 0.1s linear;
}
#navbar ul li:hover {
    background-color: rgb(69,86,125);
    cursor: pointer;
}
#navbar a {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--font_color);
}

/* --- --- END of Navbar --- --- */




/* --- --- START welcome-section --- --- */

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(62deg, rgb(58, 61, 64) 0%, rgb(23, 22, 24) 100%);
}
#welcome-section h1 {
    color: var(--font_color);
    text-transform: capitalize;
    font-size: 3.8rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
#welcome-section p {
    color: var(--nav_background_color);
    text-transform: lowercase;
    font-style: italic;
    font-size: 2rem;
    font-weight: 100;
}

/* --- --- END welcome-section --- --- */




/* --- --- START projects --- ---  */
#projects {
    background-color: var(--projects_background);
    padding: 2rem;
    padding-bottom: 5rem;
}
#projects h2 {
    display: block;
    text-align: center;
    color: var(--font_color);
    font-size: 2.5rem;
    padding-top: 6rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--font_color);
    width: 49%;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
}
#projects .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 450px;
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}
#projects .project-tile {
    border: 1px solid rgb(58, 58, 58);
    background-color: var(--projects_label_background);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#projects img {
    width: 100%;
    object-fit: cover;
    height: calc(100% - 4rem);
}
#projects p {
    color: var(--font_color);
    text-align: center;
    font-size: 1.3rem;
    padding: .5rem 0;
    font-weight: bold;
}
.onhover {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.project-tile:hover .onhover {
    opacity: 1;
    color: rgb(233,125,77);
    font-weight: bold;
}
#show_all {
    display: block;
    text-align: center;
    color: var(--font_color);
    background-color: var(--projects_label_background);
    width: 9rem;
    padding: .7rem 1rem;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
#show_all:hover {
    background-color: var(--nav_background_color);
}
i.fa-greater-than {
    transition: all 0.5s ease-in-out;
}
#show_all:hover i.fa-greater-than {
    transform: translateX(3px);
}


@media screen and (max-width: 300px) {
    #projects h2 {
        width: 90%;
    }
    #projects .grid-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) {
    #projects h2 {
        width: 90%;
    }
}

/* --- --- END projects --- ---  */